.button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 5px solid #fff;
	margin: 5px;
	background-size: cover;
}

.button:hover {
	outline: 3px solid #666;
}

.button:active {
	outline: 3px solid #ccc;
}

.container {
	display: flex;
}

body {
	background-color: #202124;
}

#google {
	background-image: url("img/google.png");
}

#yandex {
	background-image: url("img/yandex.png");
}